<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <record id="menu_root_osoul_file_dashboard" model="ir.ui.menu" >
        <field name="name">Osoul File Dashboard</field>
        <field name="sequence" eval="11" />
    </record>
    
    <record id="menu_osoul_file_dashboard" model="ir.ui.menu" >
        <field name="name">File Dashboard</field>
        <field name="sequence" eval="4" />
        <field name="parent_id" ref="menu_root_osoul_file_dashboard" />
    </record>

    <!-- <record id="menu_osoul_tickets_approval" model="ir.ui.menu" >
        <field name="name">Ticket Approval</field>
        <field name="sequence" eval="5" />
        <field name="parent_id" ref="menu_root_osoul_file_dashboard" />
    </record> -->


</odoo>